@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;600;900&family=Noto+Sans+KR:wght@100;400;700;900&display=swap");
@import "reset.css";
@import "variables.css";
@import "components/date-time.css";
@import "components/name-input.css";
@import "components/greeting.css";

body {
    font-family: "Inconsolata", "Noto Sans KR", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hidden {
    display: none;
}
