.greeting {
    position: relative;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    transition: background-color 0.2s ease-in-out;
}

.greeting img {
    position: absolute;
    right: 15px;
    width: 30px;
    height: 30px;
    fill: white;
    opacity: 0.2;
    transition: opacity 0.2s ease-in-out;
}

.greeting:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

.greeting:hover img {
    opacity: 1;
}

.greeting__text {
    color: white;
    font-size: 30px;
    font-weight: 200;
    text-shadow: 2px 2px black;
}
