header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    color: white;
}

.calendar-icon,
.todo-icon {
    outline: none;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: rgba(223, 228, 234, 1);
    border: 2px solid white;
}

.calendar-icon {
    margin-right: 20px;
}

.calendar-icon:hover,
.todo-icon:hover {
    background-color: rgba(164, 176, 190, 1);
}

.calendar-icon:active,
.todo-icon:active {
    background-color: rgba(116, 125, 140, 1);
}

.calendar-icon img,
.todo-icon img {
    width: 30px;
    height: 30px;
}

.selected {
    /* background-color: rgba(46, 204, 113, 1); */
    background-color: rgba(116, 125, 140, 1);
}

.selected:hover {
    background-color: rgba(87, 96, 111, 1);
}

.selected:active {
    background-color: rgba(47, 53, 66, 1);
}
