.todo {
    position: absolute;
    right: 0;
    width: 25vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: grid;
    grid-template-rows: minmax(0, 1fr) minmax(0, 12fr);
    color: white;

    transform: translate(25vw, 0);
    transition: all 0.5s ease-in-out;
}

.todo.open {
    transform: translate(0, 0);
}

.todo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 30px;
    font-weight: 200;
}

.todo-form {
    position: relative;
    width: 50%;
    height: 40px;
    background-color: white;
    border-radius: 50px;
}

.todo-form input {
    font-family: "Inconsolata", "Noto Sans KR", sans-serif;
    font-weight: 400;
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 20px;
    box-sizing: border-box;
    background: none;
    font-size: 20px;
    color: black;
}

.todo-form button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 5px;
    right: 10px;
    border: none;
    outline: none;
    background: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-form button img {
    width: 20px;
    height: 20px;
}

.todo-form button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.todo-form button:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.todo-list {
    display: grid;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
}

.todo-pending__title,
.todo-finished__title {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 800;
    color: black;
    background-color: rgba(241, 242, 246, 1);
}

.todo-pending__list,
.todo-finished__list {
    height: calc(100% - 40px);
    box-sizing: border-box;
    display: grid;
    grid-auto-rows: 50px;
    gap: 10px;
    padding: 20px;
    overflow: scroll;
}

.todo-pending__list li,
.todo-finished__list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 7px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    background-color: #2f3542;
}

.todo-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #57606f;
    border-radius: 30px;
    padding: 5px;
}

.todo-button__status,
.todo-button__delete {
    width: 24px;
    height: 24px;
    outline: none;
    border: none;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.todo-button__status {
    margin-right: 10px;
}

.todo-button__status:hover {
    background-color: rgba(46, 204, 113, 1);
}

.todo-finished .todo-button__status:hover {
    background-color: rgba(241, 196, 15, 1);
}
.todo-button__delete:hover {
    background-color: rgba(231, 76, 60, 1);
}
